out/
*#
*.dll
*.dylib
*.exe
*.exe~
*.out
*.so
*.swagger.json
*.test
*.swp
*~
.#*
.DS_Store
.env
coverage.txt
node_modules
swagger.yaml.tmp
tmp-*/
vendor/
gen.sum.tmp
go/cmd/pathwar/pathwar
tool/screenshoter/screenshoter
*_oauth_token.json
