.DS_Store
coverage.txt

.env

node_modules
vendor/
*~
*#
.#*
swagger.yaml.tmp

*.swagger.json

/.generated
/.*.generated

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
