# This file is used to coalesce together commits by the same person,
# where their name and/or email address was spelled differently.
#
# See `man git-shortlog` for more info.

Manfred Touron <94029+moul@users.noreply.github.com> <m@42.am>
Manfred Touron <94029+moul@users.noreply.github.com> <41326355+moul-sudo@users.noreply.github.com>
<qperez42@gmail.com> <qperez@ocs.online.net>
Sébastien Rannou <mxs@sbrk.org> <srannou@ocs.online.net>
Martin Lequeux <martin.lequeux.gruninger@gmail.com>
Manfred Touron <m@42.am>
Sébastien Rannou <mxs@sbrk.org>
Zaraki <fpalazo@gmail.com> Z-a-r-a-k-i <43340891+Z-a-r-a-k-i@users.noreply.github.com>
<sebastien@blot.me> <sbl@nbs-system.com>
