<html>
  <head>
    <meta charset="utf-8">
    <title>_('Welcome to a new world')</title>
    <meta name="author" content="pathwar team">
    <meta name="description" content="Welcome! This challenge is a warmup to get you started with Pathwar. Enjoy.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/base.min.css">
  </head>
  <body class="container px4 center bg-dark-gray white">
    <div class="float right">{{langForm}}</div>
    <h1 class="caps regular mt4 mb4">_('Welcome to a new world')</h1>
    <p>_('Why didn't I take the <a href="/" class="red">red</a> pill?')</p> 
  </body>
</html>
