<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <h1>{{pageTitle}}</h1>
    </header>
    <nav class="topright">
        {{langForm}}
    </nav>
    <nav class="sidebar">
        <!-- BEGIN nav -->
        <a href="{{nav.href}}">{{nav.caption}}</a>
        <!-- END nav -->
 
    </nav>
    <section class="content">
 {{content}}
    </section>
    <footer></footer>
</body>
</html>