<article>
<h2>_('HTTP Methods')</h2>
<p>
    _('HTTP offers multiple methods (with some extensions, like WebDAV, but you won't see them much).')
    _('The five most used are:')
    <ul>
        <li>GET: _('Get a resource specified by the request URI. Parameters can be passed in the query string') (/foo.php<b>?a=1&b=2</b>).</li>
        <li>POST: _('Send data to a server (for example, the content of a form). Parameters are passed in the body of the requests.')</li>
        <li>PUT: _('Used to create a resource at the requested URI. Data is passed inside the body of the request.')' </li>
        <li>DELETE: _('The opposite of PUT. Used to delete the resource at the request URI.')</li>
        <li>HEAD: _('Retrieve only the response headers, without the body.')</li>
    </ul>
</p>
</article>
<article>
    <h2>_('Challenge')</h2>
    <p>{{pmessage}}</p>
</article>

