<article>
    <h2>_('Request Headers')</h2>
    <p>_('When a client send a request to a server, it can send headers to give more information about the request (e.g. languages supported by the client, hostname of the requested website, stored cookies).')</p>
    <p>_('You can easily change the request headers sent by your browser with the help of an extension or a proxy that intercepts the requests it makes.')</p>
    <p>{{pmessage}}</p>
</article>

<article>
    <h2>_('Response Headers')</h2>
    <p>_('When a web server sends a response to a client, it can send along a few response headers, containing information about the response (like its size), or instructions for the browser, e.g. if, or for how long, it should cache the page.')</p>
    <p>_('This page has sent you a custom header containing a passphrase. See if you can find it! (Tip: You can use the debug console of your browser.)')</p>
</article>