<article>

    <p>_('As seen previously, web servers can send HTTP headers to the client.')
        _('A commonly used header is') <b>Location</b>. _('This header is used to redirect the client to another page or website (for example, to redirect the user to their profile page on succesful login).')<br />
        _('The following link will send your browser an HTTP redirection to this page that will automatically be followed.')<br />
        <a href="/?step=redir">_('Redirection')</a><br />
        _('HTTP clients are not required to follow redirections. For example, curl does not follow them by default.')<br />
        _('Try requesting the redirection page with curl to get the passphrase.')
    </p>

</article>
