<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{{ .Title }}</title>

        <!-- Styling -->
        {{ $bootstrap := resources.Get "css/bootstrap.min.css" }}
        {{ $main := resources.Get "css/main.css" }}
        {{ $style := slice $bootstrap $main | resources.Concat "bundle.css" | minify | fingerprint }}
        <link rel="stylesheet" type="text/css" href="{{ $style.RelPermalink }}">

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik:300,400,700&display=swap" />
    </head>
    <body>

    <div class="container pt-4">
      <div class="row justify-content-end">
        <img width="100" src="{{ (resources.Get `images/pathwar-logo.svg`).RelPermalink }}" />
      </div>
    </div>
