@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,700&display=swap');

.page {
  font-family: 'Rubik', sans-serif;
  background: radial-gradient(#212138,#000a15);
  color:#fff;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.content {
  max-width: 800px;
  padding: 0 15px;
}

h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

h2 {
  margin-top: 10px;
}

p {
  margin-top: 2.5rem;
  font-size: 130%;
  font-weight: 300;
}
