{{ $asset := resources.Get .Params.file_path }}

{{ partial "head" . }}

<div id="single-page" class="container pt-5 align-items-center justify-content-center d-flex">
  <div class="d-flex flex-column text-center justify-content-center w-100">

    <div class="main-image">
      <img src="{{ partial `asset-image` (dict `ctx` . `page` . `width` 700) }}">
    </div>

    <h4 class="font-weight-bold">{{ .Params.file_name }}</h4>

    <div class="mt-3">
      <a class="btn btn-primary font-weight-bold" href="{{ $asset.RelPermalink }}" download>DOWNLOAD</a>
    </div>

    <hr class="mb-4 mt-5">

    {{ $related_assets := where .Site.RegularPages "Params.folder_id" .Params.folder_id }}
    {{ if gt (len $related_assets) 1 }}
    <div class="row">

      <div class="col-md-12 text-left my-4">
        <h3 class="font-weight-bold">Related assets</h3>
      </div>

      {{ range where .Site.RegularPages "Params.folder_id" .Params.folder_id }}
        {{ if ne .Params.file_name $.Params.file_name }}
        {{ partial "thumbnail" (dict "page" . "ctx" $) }}
        {{ end }}
      {{ end }}

    </div>
    {{ end }}

  </div>
</div>

{{ partial "foot" . }}
