body
{
	background-color:#000000;
	font-size:16px;
}

#main
{
	padding:30px;
	width:650px;
	margin:0 auto;
	background-color:#fff;
	color:black;
}

h1
{
	text-align:center;
	margin:0;
	margin-bottom:30px;
	padding:0;
}

strong
{
	font-size:18px;
}

em
{
	font-size:18px;
}

.code
{
	font-style:italic;
}

.info
{
	font-size:28px;
	color:red;
}

.code_block
{
	width:95%;
	background-color:#cccccc;
	padding:10px;
	overflow:auto;
	margin:0 auto;
}

li
{
        margin: 10px;
}